<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>


    <!-- 루트 로거 -->
    <root level="INFO">
        <appender-ref ref="JSON_STDOUT"/>     <!-- JSON 로그 (Fluent Bit용) -->
    </root>

    <logger name="ERROR_LOGGER" level="ERROR" additivity="false">
        <appender-ref ref="JSON_STDOUT"/>
    </logger>

    <!-- LikeController 클래스에 대한 로거 -->
    <logger level="INFO"
            name="com.three.recipinglikeservicebe.like.controller.LikeController"
            additivity="false"> <!-- (additivity 는 상위 패키지 로그 전파 여부)-->
        <appender-ref ref="JSON_STDOUT" />
    </logger>


</configuration>